<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
</div>

<div class="contact-section">
  <h3>Contact</h3>
  <p>Thanks a lot for visiting. Please contact me if you have any queries.</p>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'contact-section__button' %>
      <% end %>
    </div>
  </div>
</div>
